:root{
    --maincolor:#f5ec3c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.7%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
/*logo*/
.header #logo img{
    width: 50px;
}
/*nav-bar*/
.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin: 0 20px;
    font-size: 15px;
}

.nav ul li ul{
    /* display: none; */
    padding: 30px 10px 10px 10px;
    position: absolute;
    background: black;
    display: none;
}
.nav ul li ul li{
    color: rgb(19, 176, 30);
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: 1px solid grey;
}

.nav ul li:hover > ul{
    display: block;
}

a{
    color: white;
    text-decoration: none;
}

.header img{     
    width: 116px;
}
.event2-background{
    background-image: url(images/63ff7b38bcf6a055318acdfd_PACE-EmmaCrystalWorkshop-2-scaled.webp);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    text-align: center;
}
.main-text h1{
    color:white;
    font-size: 80px;

}
.main-text h2{
    color: white;
    font-size: 25px;
}
.container-1{
	height: 100vh;
	background-image: url(./betterteam-corporate-retreats-for-businesses-in-2020-3980x2622-20201117.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.container-1-para{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:clamp(35px,5vw,200px);
	animation: appear 2.5s;
	opacity: 0;
	animation-fill-mode: forwards;
	color: white;
	font-family: "Cinzel";
	text-align: center;
}

@keyframes appear {
 0%{
	opacity: 0;
 }
 100%{
	opacity: 1;
 }
}

.main-container{
	margin-top: 5%;
	text-align: center;
	font-size: clamp(20px, 2.5vw, 200px);
	animation: opacity1 2s;
	opacity: 0;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	text-transform: uppercase;
}


@keyframes opacity1 {
0%{
		opacity: 0;
}	100%
{
		opacity: 1;	}
}

@keyframes opacity2 {
	0%{
			opacity: 0;
	}	100%
	{
			opacity: 1;	}
}
@keyframes opacity3 {
	0%{
			opacity: 0;
	}	100%
	{
			opacity: 1;	}
}
@keyframes opacity4 {
	0%{
			opacity: 0;
	}	100%
	{
			opacity: 1;	}
}


.wrapper{
	padding-top: 5%;
	display: flex;
	flex-direction: row;
	gap: 0.3%;
}
.wrapper img{
	height: 60vh;
}


.container-2{
	text-align: center;
	padding-top: 50px;
	animation: opacity2 2s;
	opacity: 0;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	margin: 0%;
	width: 33%;
	border-left: 1pt solid;
	border-right: 1pt solid;
	line-height: 4vh;
}
.container-2-para span{
	font-size:clamp(17px, 2vw, 200px);
	text-shadow: 2px 5px rgba(0, 0, 0, 0.101);
	text-decoration: underline;
}
.container-2-para p{
	font-size:clamp(15px, 2vw, 200px);
	text-shadow: 2px 5px rgba(0, 0, 0, 0.101);
}

.container-3{
	line-height: 4vh;
	text-align: center;
	padding-top: 50px;
	animation: opacity3 2s;
	opacity: 0;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	width: 33%;
	border-right: 1pt solid;
}
.container-3-para span{
	font-size:clamp(17px, 2vw, 200px);
	text-shadow: 2px 5px rgba(0, 0, 0, 0.101);
	text-decoration: underline;
}
.container-3-para p{
	font-size:clamp(15px, 2vw, 200px);
	text-shadow: 1px 2px rgba(0, 0, 0, 0.101);
}

.container-4{
	text-align: center;
	padding-top: 50px;
	animation: opacity4 2s;
	opacity: 0;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	width: 33%;
	line-height: 4vh;
	
	
}
.container-4-para span{
	font-size:clamp(17px, 2vw, 200px);
	text-shadow: 2px 5px rgba(0, 0, 0, 0.101);
	text-decoration: underline;
}
.container-4-para p{
	font-size:clamp(15px, 2vw, 200px);
	text-shadow: 2px 5px rgba(0, 0, 0, 0.101);
}

@media screen and (max-width:1920px) {
    .gallery-container{
        margin-top: 10%;
    }
    .para{
        font-size: 1.5vw;
    }
    .title1{
        font-size: 4vw;
        font-weight: 600;
    }
    .title2{
        font-size: 2vw;
        font-weight: 300;
    }
	.wrapper{
		flex-direction: column;
		width: 100%;
	}
	.container-2, .container-3, .container-4{
		width: 100%;
		border: none;
	}
	.container-2 p, .container-3 p, .container-4 p{
		padding: 0 5% 1% ;

	}
	article	img{
		padding: 0 5%;
	}
}
